/* GLOBAL STYLES */

*{
    margin: 0;
    padding: 0;
}

:root{
    --title-color: #2F281E;
    --text-color: #544837;
    --button-orange: #FF9900;
    --border-light-blue: #BCD0E5;
    --button-text-blue: #173A56;
    --button-text-white: #ffffff;
    --main-font: 'Poppins', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    padding: 35px 0 0 0;
    margin: 0 0 117px 0;
}

section{
    display: flex;
}

.container{
    display: flex;
    max-width: 1125px;
    margin: 0 auto;
}

h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: var(--title-color);
    font-family: var(--main-font);
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    font-family: var(--main-font);
    color: var(--title-color);
    text-align: center;
}

.container__text{
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.container__small-title{
    font-family: var(--main-font);
    color: var(--title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

section{
    display: flex;
}

/* ------- LOCAL STYLES ------- */

/* HEADER STYLES */

.header__container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto auto 47px;
}

.header__logo{
    display: block;
    margin: 0 320px 0 0;
}

.header__navigation{
    display: block;
    margin: 0 50px 0 0;
}

.header__menu{
    display: flex;
    list-style: none;
}

.menu__item{
    display: block;
    margin: 0 25px 0 0;
}

.menu__item:last-child{
    margin: 0 0 0 0;
}

.menu__item-title{
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--title-color);
    font-size: 14px;
    line-height: 28px;
}

.header__sign-in{
    display: flex;
    color: var(--button-text-blue);
    border: 1px solid var(--border-light-blue);
    font-family: var(--main-font);
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 46px;
    margin: 0 14px 0 0;
}

.header__sign-up{
    display: flex;
    color: var(--button-text-white);
    font-family: var(--main-font);
    text-decoration: none;
    background: var(--button-orange);
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 46px;
    margin: 0 14px 0 0;
}

/* MAIN SCREEN STYLES */
.main-screen__container{
    display: flex;
}

.mainscreen__box{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.header__title{
    display: block;
    padding: 83px 0 0 0;
    margin: 0 0 30px 0;
}

.header__text{
    max-width: 458px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
    font-family: var(--main-font);
    margin: 0 0 45px 0;
}

.header__buttons{
    display: flex;
    align-items: center;
}

.header__get-started{
    display: flex;
    color: var(--button-text-white);
    font-family: var(--main-font);
    text-decoration: none;
    background: var(--button-orange);
    font-weight: 700;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 53px;
    margin: 0 30px 0 0;   
}

.header__watch-video{
    display: flex;
    font-family: var(--main-font);
    color: var(--button-orange);
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
}

.header__watch-video img{
    margin: 0 8px 0 0;
}

/* TOOLS */

.tools{
    margin: 0 0 210px 0;
}

.tools__container{
    flex-direction: column;
    align-items: center;
}

.tools__title{
    max-width: 539px;
    margin: 0 auto 54px;
}

.tools__box{
    display: flex;
    justify-content: space-between;
}

.tools__block{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    margin: 0 0 34px 0;
}

.tools__icon{
    width: 51px;
    height: 50px;
    margin: 0 0 30px 0;
}

.tools__subtitle{
    font-family: var(--main-font);
    color: var(--title-color);
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.tools__text{
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.tools__button{
    display: flex;
    color: var(--button-text-white);
    font-family: var(--main-font);
    text-decoration: none;
    text-transform: uppercase;
    background: var(--button-orange);
    font-weight: 700;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 53px;
    margin: 0 30px 0 0;
}


/* PROFESSIONALS */

.professionals{
    margin: 0 0 100px 0;
}

.professionals__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.professionals__above{
    padding: 26px 0 0 0;
    margin: 0 0 3px 0;
}

.professionals__title{
    text-align: left;
    margin: 0 0 22px 0;
}

.professionals__below{
    margin: 0 0 30px 0;
}

.professionals__text{
    max-width: 500px;
}

.professionals__small-title{
    margin: 0 0 12px 0;
}

.professionals__item{
    margin: 0 0 25px 0;
}

.professionals__img{
    max-height: 573px;
}

/* MANAGERS */

.managers{
    margin: 0 0 100px 0;
}

.managers__box{
    width: 50%;
}

.managers__box-right{
    padding: 0 0 0 100px;
}

.managers__above{
    padding: 30px 0 0 0;
}

.managers__title{
    text-align: left;
    margin: 0 0 22px 0;
}

.managers__img{
    max-height: 520px;
}

.managers__item{
    display: flex;
    align-items: center;
    max-width: 450px;
    margin: 0 0 30px 0;
}

.managers__below{
    margin: 0 0 30px 0;
}

.managers__item-icon{
    max-width: 35px;
    max-height: 35px;
    margin: 0 35px 0 0;
}

/* MARKETERS */

.marketers{
    margin: 0 0 146px 0;
}

.marketers__box{
    width: 50%;
}

.marketers__title{
    text-align: left;
    margin: 0 0 22px 0;
}

.marketers__below{
    margin: 0 0 33px 0;
    max-width: 480px;
}

.marketers__small-title{
    margin: 0 0 12px 0;
}

.marketers__item{
    margin: 0 0 25px 0;
    max-width: 480px;
}

.marketers__img{
    max-height: 609px;
}

/* FOOTER */

.footer__container{
    max-width: 1109px;
    border-top: 1px solid var(--border-light-blue);
    align-items: flex-start;
}

.footer__links{
    columns: 2;
    column-gap: 100px;
    list-style: none;
    padding: 167px 0px 0px 0px;
    margin: 0 81px 83px 0;
}

.footer__link-title{
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
}

.footer__logo{
    padding: 102px 0px 0px 0px;
    margin: 0 140px 0 0;
}

.form__field{
    width: 295px;
    height: 48px;
    border-style: solid;
    border-radius: 4px;
    border-color: var(--border-light-blue);
    margin: 193px 0 21px 0;
    padding: 0px 15px;
    font-family: var(--main-font);
}

.form__button{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--button-text-white);
    padding: 8px 15px;
    background: var(--button-orange);
    border: none;
    border-radius: 4px;
}
