*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease-in-out 0.3s;
}

.box__img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: aqua;
    width: 10vw;
    height: 10vw;
}

