/* GLOBAL SELECTORS */

*{
    margin: 0;
    padding: 0;
    transition: all .5s;
}

:root{
    --main-black: #070707;
    --grey-color: #f6f6f6;
    --menu-grey: #858585;
    --grey-star: #e5e5e5;
    --main-font: 'Open Sans', sans-serif;
}

.grey{
    fill: var(--grey-star);
}

h1{
    font-weight: 700;
    font-size: 47px;
    line-height: 64px;
    font-family: var(--main-font);
    color: var(--main-black);
}

h2{
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    color: var(--main-black);
    font-family: var(--main-font);
}

h2:hover{
    transform: scale(1.1);
}

.header{
    max-width: 940px;
    padding: 23px 0 0 0;
    margin: 0 auto 33px;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 940px;
    margin: 0 auto;
    align-items: center;
}

.container__text{
    color: var(--main-black);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.container__p{
    align-items: center;
}

.container__line{
    display: block;
    text-align: center;
}

section:nth-child(2n+1){
    background: var(--grey-color);
}

/* HEADER */

.header__nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0 0 29px 0;
    border-bottom: 1px solid var(--menu-grey);
    box-shadow: 0 10px 4px -6px rgb(0 0 0 / 10%);
}

.header__nav-item{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0 40px 0 0;
}

.header__nav-item:last-child{
    margin: 0 0 0 0;
}

.header__nav-title{
    text-decoration: none;
    color: var(--menu-grey);
    font-family: var(--main-font);
    font-size: 18px;
    padding: 0 0 29px 0;
}

.header__nav-title:hover{
    color: var(--main-black);
}

/* MAIN SCREEN */

.main-screen__title{
    margin: 0 0 38px 0;
}

.main-screen__img{
    margin: 0 0 100px 0;
    overflow: hidden;
}

.main-screen__bg{
    width: 940px;
    height: 387px;
    background-image: url(../img/pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-screen__bg:hover{
    transform: scale(1.2);
}

/* ABOUT ME */

.about-me__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}

.about-me__title{
    margin: 0 0 28px 0;
}

.about-me__text{
    display: flex;
    flex-direction: column;
}

.about-me__line{
    display: block;
    text-align: center;
}

.about-me__p{
    max-width: 480px;
    margin: 0 0 50px 0;
}

.about-me__p:hover{
    transform: translateY(-10px);
}

.about-me__p:last-child{
    margin: 0 0 0 0;
}

/* SKILLS */

.skills{
    padding: 100px 0 83px 0;
}

.skills__container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills__title{
    margin: 0 0 24px 0;
}

.skills__text{
    margin: 0 0 78px 0;
}

.skills__programs{
    flex-direction: row;
    justify-content: space-between;
}

.skills__box {
    display: flex;
    flex-direction: column;
    max-width: 166px;
    align-items: center;
    justify-content: center;
}

.skills__img {
    display: block;
    margin: 0 auto 24px;
}

.skills__grey-text{
    display: block;
    height: 27px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: var(--menu-grey);
    margin: 0 0 60px 0;
}

/* PORTFOLIO */

.portfolio__container{
    padding: 118px 0 101px 0;
}

.portfolio__title{
    margin: 0 0 68px 0;
}

.portfolio__img{
    margin: 0 0 15px 0;
}

.portfolio__text{
    margin: 0 0 128px 0;
}

.portfolio__text:last-child{
    margin: 0;
}

/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 159px 0;
}

.footer__title{
    margin: 0 0 21px 0;
}

.footer__text{
    margin: 0 0 78px 0;
}

.footer__button{
    display: flex;
    background: #000000;
    border-radius: 30px;
    width: 180px;
    height: 42px;
    margin: 0 0 37px 0;
    text-decoration: none;
    font-family: var(--main-font);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.footer__button:hover{
    background: none;
    border: 1px solid var(--main-black);
    color: var(--main-black);
    font-weight: 300;
}

.footer__social{
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin: 0 0 44px 0;
}

.footer__icon{
    display: block;
}

.footer__small-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-family: var(--main-font);
    color: var(--menu-grey);
}