*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --text-font: 'Roboto', sans-serif;
    --title-font: 'Nunito Sans', sans-serif;
    --text-color: #16133D;
    --link-color: #3DB370;
    --above-text: #7690A8;
}

.container{
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
}

.logo{
    max-width: 200px;
}

.header{
    border-bottom: 1px solid #EFEEF3;
    margin: 0 0 100px 0;
}

.header__container{
    padding: 22px 0 0 0;
    margin: 0 auto 22px;
}

.footer{
    background: #16133D;
}

.footer__container {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.main__container {
    display: flex;
    flex-direction: column;
}

.main__above-text{
    font-family: var(--text-font);
    color: var(--above-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 15px 0;
}

.main__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    font-family: var(--title-font);
    color: var(--text-color);
    margin: 0 0 40px 0;
}

.main__box {
    display: flex;
    gap: 30px;
}

.main__item{
    padding: 40px;
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    transition: all ease-in-out 0.3s;
}

.main__icon-box{
    width: 64px;
    height: 64px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
    margin: 0 0 30px 0;
    transition: all ease-in-out 0.3s;
}

.megaphone{
    background-image: url(../img/megaphone-blue.svg);
    background-position: center;
    background-size: 38px;
    background-repeat: no-repeat;
}

.building{
    background-image: url(../img/building-blue.svg);
    background-position: center;
    background-size: 38px;
    background-repeat: no-repeat;
}

.phone{
    background-image: url(../img/phone-blue.svg);
    background-position: center;
    background-size: 38px 38px;
    background-repeat: no-repeat;
}

.main__item:hover{
    border: 1px solid #3DB370;
}

.main__item:hover .main__icon-box{
    border: 1px solid rgba(61, 179, 112, 0.1);
}

.main__item:hover .megaphone{
    background-image: url(../img/megaphone-green.svg);
}

.main__item:hover .building{
    background-image: url(../img/building-green.svg);
}

.main__item:hover .phone{
    background-image: url(../img/phone-green.svg);
}

.main__box{
    margin: 0 0 100px 0;
}

.main__subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
    font-family: var(--text-font);
    color: var(--text-color);
    margin: 0 0 15px 0;
}

.main__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: var(--text-font);
    color: var(--text-color);
    margin: 0 0 30px 0;
}

.main__link{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    font-family: var(--text-font);
    color: var(--link-color);
}

.footer__logo{
    margin: 0 0 40px 0;
}

.footer__box{
    display: flex;
    gap: 10px;
}

.footer__img-box{
    width: 38px;
    height: 38px;
    background: white;
    border-radius: 5px;
    margin: 0 0 30px 0;
}

.instagram{
    background-image: url(../img/instagram-icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.facebook{
    background-image: url(../img/facebook-icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.github{
    background-image: url(../img/github-icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.dribbble{
    background-image: url(../img/dribbble-icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter{
    background-image: url(../img/twitter-icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}



